<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="logstash.host" source="logstash.host" />
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash.host}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <logLevel />
                <loggerName />
                <pattern>
                    <pattern>
                        {"app": "comum-service"}
                    </pattern>
                </pattern>
                <message />
            </providers>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="logstash" />
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>